.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}

.nav a,
.nav button {
    background: #eee;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: .2rem;
    border: 1px solid transparent;
    transition: .5s;
}

.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav button:focus {
    background: white;
    border-color: #333;
    box-shadow: 0 0 0 3px #eee;
    outline: none;
}

.nav a:global(.active) {
    border-color: #fb1;
    background: white;
    box-shadow: 0 0 0 3px #fea;
}

.nav a:global(.active) svg>* {
    fill: #fb1;
}

.mobileButton {
    background: #eee;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: .2rem;
    border: 1px solid transparent;
    transition: .5s;
}

.mobileButton::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: .2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
    background: white;
    outline: none;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
}

.mobileButtonActive::after {
    height: 4px;
    width: 4px;
    transform: rotate(-90deg);
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 0 1rem;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    transform: translateX(-10px);
    opacity: 0;
    pointer-events: none;
}

.navMobileActive{
    transition: .3s;
    transform: initial;
    opacity: 1;
    pointer-events: initial;
    z-index: 100;
}

.navMobile a,
.navMobile button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: .5rem 0;
    cursor: pointer;
}

.navMobile a:hover svg > *,
.navMobile button:hover svg> * {
    fill: #fb1;
}

.navMobile button{
    border-bottom: none;
}

.navMobile svg{
    margin-right: .5rem;
}