.header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: .5rem 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.logo{
    padding: .5rem 0;
}

.login{
    color: #333;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.login::after{
    content: '';
    display: inline-block;
    background: url('../assets/usuario.svg') no-repeat center center;
    width: 14px;
    height: 17px;
    margin-left: .5rem;
}